/* body{
    margin:0;
    padding:0;
   
} */
.main_nav{
    /* overflow: hidden; */
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
    width: 100%;
    height: 125px;
    cursor: pointer;
}
.nav_logo{
    width:100%;
    
}
#logo_navbar_div{
  width:"50%"
}
#logo_navbar{
width: 100%;
/* margin-top: 15px; */
}

.main_nav1{
    width:100%;
    height: 55%;
    display: flex;
    justify-content: space-between;
    
   
}

.logo{
    width:35rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.nav_menu{
    width:41%;
    height: 100%;
    display: flex;
}
.nav_input{
    width:66%;
}
.nav_logo{
    margin-top: 12px;
    margin-left:8px;
}
.logo_input{
    border:1px solid rgb(124, 119, 119);
   width: 98%;
   height: 40px;
   display: block;
   margin: auto;
   margin-top:12px ;
   font-size: 17px;
   text-align: center;
   color: rgb(51, 51, 51);
   border-radius: 4px;

}
.search_icon{
    position:absolute;
    margin-top: 22px;
    margin-left: 7px;
    font-size: 20px;
}

.dropbtn {
    padding: 16px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    color: rgb(23, 24, 23);
    font-weight: 400px;
  
  }
  
  .dropdown {
    position: relative;
    width: 30%;
    /* display: inline-block; */

  }
  
  .dropdown-content {
    display: none;
    font-size: 18px;
    width:100%;
    background-color:white;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    border-radius: 5px;
   
  }
  
  .dropdown-content h3{
    color: black;
    padding: 12px 16px;
    text-decoration:none;
    display: block;
  }
  .dropbtn:hover{
    border: 0px solid rgb(31, 6, 6);
    color: #f43397;
}
 .dropdown:hover .dropdown-content {
    display: block;
    
  }
  
  .images{
    width: 100%;
  }
  .images2{
    width: 100%;
    margin-top: 10px;
  
  }
  .profile_icon{
    display: block;
    margin: auto;
    font-size: 25px;
  }
  .profile_dropdown{
    /* position: relative; */
    width: 10%;
    margin-top: 10px;
    margin-left: 25px;
  }
  .profile_dropdown:hover{
    color: #f43397;
    /* position: relative; */
    width: 10%;
  }
  .nav_profile{
    width:100%;
    font-size: 18px;
  }
.dropdown-content_profile{
    display: none;
}
.profile_dropdown:hover .dropdown-content_profile {
    display: block;
    width:300%;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
  }
  .profile_button{
    background-color: #f43397;
    font-size: 19px;
    color: white;
    width: 50%;
    border-radius: 4px;
    display: block;
    margin: auto;

  }
  .hr{
     border:0.1px solid rgb(187, 182, 182)
  }
  .bag{
    display: block;
    margin: auto;
  }
  .orders{
    text-align: center;
  }
  .hello{
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;
  }
  .access{
    text-align: center;
    font-size: 14px;
  }
  .dropbtn_cart{
    margin-top: 10px;
    margin-left: 8%;
    font-size: 18px;
  }
  .dropbtn_supp{
    padding: 16px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    color: rgb(23, 24, 23);
    font-weight: 400px;
  }
  .cart_icon{
    font-size: 28px;
  }
  /* ------------------ */
  .main_nav2{
    width:100%;
    height:50%
}

li:hover {
    color: #ff488b;
  }
  .nav-menu ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    max-width: 1350px;
    margin: auto;
    cursor: pointer;
  }
  .bottomNav {
    margin-top: 1em;
    border-top: 1px solid rgba(61, 61, 61, 0.199);
    border-bottom: 1px solid rgba(61, 61, 61, 0.199);
  }
  .nav-menu ul li {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  
  .bottomNav ul{
    list-style: none;
  }
  .submenu {
    display: flex;
    position: absolute;
    margin-top: 1em;
    display: none;
    border: 1px solid rgba(61, 61, 61, 0.199);
    padding-left: 1em;
    padding-right: 1em;
    background-color: white;
  }
  .subCat {
    display: flex;
    flex-direction: column;
    color: black;
  }
  .subCat span {
    margin: 0.3em;
  }
  .subCat span:hover {
    color: #ff488b;
  }
  .subCat .catHeading {
    margin-bottom: 1em;
    color: #ff488b;
  }
  .nav-menu ul .dropdowns:hover .submenu{
    display: flex;
  }
  /* ------------------- */
  @media only screen and (min-width:340px) and (max-width:480px){
    .dropdown {
        display: none;
       }
       .dropbtn_supp{
       display: none;
      }
      .nav_input{
        display: none;
    }
    #logo_navbar_div{
      width:50%;
    }
    #logo_navbar{
    width: 100%;
    margin-top: 15px;
    }
    .profile_icon{
        display: block;
        margin: auto;
        font-size: 40px;
      }
      .cart_icon{
        font-size: 40px;
      }
    .dropbtn_cart{
        margin-top: 10px;
        margin-left: 50px;
        font-size: 0px;
      }
      .profile_dropdown{
        width: 20%;
        margin-top: 10px;
        margin-left: 0px;
      }
      .nav_profile{
        font-size: 0px;
        
      }
      .profile_dropdown:hover .dropdown-content_profile {
        display: block;
        width:900%;
        border-radius: 5px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        
      }
      .access{
        display: none;
        
      }
      .orders{
      display: none;
      }
      .nav_menu{
        width:50%;
    }
    .main_nav2{
      display: none;
    }
   } 
   @media only screen and (min-width:481px) and (max-width:915px){
    .logo{
      width: 100rem;
       }
    .dropbtn_supp{
        display: none;
       }
       .dropdown {
        display: none;
       }
       .nav_menu{
        width:50%;
    }
    #logo_navbar_div{
      width:"0%";
    
    }
    #logo_navbar{
    width:100%;
    margin-top: 8px;
    }
      
      .nav_input{
        margin-left: 10px;
    }
   .logo_input{
       font-size: 0px;
      }
      .profile_icon{
        display: block;
        margin: auto;
        font-size: 40px;
      }
      .cart_icon{
        font-size: 40px;
      }
    .dropbtn_cart{
        margin-top: 10px;
        margin-left: 50px;
        font-size: 0px;
      }
      .profile_dropdown{
        width: 20%;
        margin-top: 10px;
        margin-left: 0px;
      }
      .nav_profile{
        font-size: 0px;
        
      }
      .profile_dropdown:hover .dropdown-content_profile {
        display: block;
        width:900%;
        border-radius: 5px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        
      }
      .main_nav2{
        display: none;
      }
   }