#sign-in-r{
    border: 1px solid white;
    margin: auto;
    margin-top: 2rem;
    padding: 2rem 0;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    background-color: #f433971a;
}
#heading{
    font-size: 24px;
    margin-bottom: 2rem;
    color: #F43397;
}
#sign-in-r>input{
    display: block;
    width: 90%;
    margin: 1rem auto;
    padding: 1rem 0.2rem;
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.502);
    font-size: 16px;
}
#sign-in-r>input:focus{
    transition: .1s;
    outline: none;
    border-bottom: 1px solid #F43397;
}
#sign-in-r>input::placeholder{
    font-size: 16px;
}
#sign-in-r-btn{
    margin-top: 2.5rem;
    padding: 0.8rem 0.2rem;
    background-color: #F43397;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
    border: none;
}
#sign-in-r-btn:hover{
    background-color: #f0027d;
}
#sign-in-r-bottom{
    text-align: center;
}
#or{
    margin-top: 1.5rem;
}
#or+a{
    color: #f0027d;
    transition: 0.2s linear;
}
#or+a:hover{
    font-size: 18px;
}

@media screen and (max-width: 520px) {
    #sign-in-r{
        width: 95%;
    }
}