.boximg{
    display: grid;
    grid-template-columns: repeat(4,0.5fr);
}
.menpage{
    margin-top: 10%;
    display: flex;
}
@media screen and (max-width: 1000px){
    .boximg{
        display: grid;
        grid-template-columns: repeat(2,1fr);
       }
    }

    @media screen and (max-width: 500px){
        .boximg{
            display: grid;
            grid-template-columns: repeat(1,1fr);
           }
        }
        .pagination{
            width: 15%;
            justify-items: flex-end;
            margin:auto;
            
        }
                .backbtn{
                    width: 20%;
                    height: 5%;
                    border: none;
                    background-color: #F43397;
                    color: white;
                    font-size: larger;
                    margin-left: 2%;
                    border-radius: 1rem;
        
                }
        
